<div class="depot-form">
  <%= error_messages_for 'order' %>
  
  <% form_for :order, :url => {:action => :save_order } do |form| %>
    <fieldset>
      <legend>Your information</legend>
      <div>
        <%= form.label :name, "Name" %>
        <%= form.text_field :name, :size => 40 %>
      </div>
      <div>
        <%= form.label :address, "Address" %>
        <%= form.text_area :address, :rows => 3, :cols => 40 %>
      </div>
      <div>
        <%= form.label :email, "Email" %>
        <%= form.text_field :email, :size => 40 %>
      </div>
      <div>
        <%= form.label :pay_type, "PayType" %>
        <%= form.select :pay_type, Order::PAYMENT_TYPES, :prompt => "Select PaymentType" %>
      </div>
      <%= submit_tag "Order", :class => "submit" %>
    </fieldset>
  <% end %>
</div>

