<h1>Pragmatic Catalogue</h1>

<% @products.each do |p| %>
  <div class="entry">
    <%= image_tag(p.image_url) %>
    <h3><%=h p.title %></h3>
    <%= p.description %>
    <div class="price-line">
      <span class="price"><%= number_to_currency(p.price, :unit => '&yen;') %></span>
      <% form_remote_tag :url => {:action => 'add_to_cart', :id => p } do %>
        <%= submit_tag "Put into cart" %>
      <% end %>
    </div>
  </div>
<% end %>
