<h1><%= I18n.t 'main.title' %></h1>

<% @products.each do |p| %>
  <div class="entry">
    <%= image_tag(p.image_url) %>
    <h3><%=h p.title %></h3>
    <%= p.description %>
    <div class="price-line">
      <span class="price"><%= number_to_currency(p.price) %></span>
      <% form_remote_tag :url => {:action => 'add_to_cart', :id => p } do %>
        <%= submit_tag I18n.t('main.button.add') %>
      <% end %>
    </div>
  </div>
<% end %>
